*.suo
*/*.suo
*/**/*.suo
#
*.dll
*/*.dll
*/**/*.dll
#
*.dfu
*/*.dfu
*/**/*.dfu
#
*.bin
*/*.bin
*/**/*.bin
#
*.pe
*/*.pe
*/**/*.pe
#
*.pdb
*/*.pdb
*/**/*.pdb
#
*.pdbx
*/*.pdbx
*/**/*.pdbx
#
*.exe
*/*.exe
*/**/*.exe
#
*.cache
*/*.cache
*/**/*.cache
#
*.csproj.user
*/*.csproj.user
*/**/*.csproj.user
#
*.csproj.FileListAbsolute.txt
*/*.csproj.FileListAbsolute.txt
*/**/*.csproj.FileListAbsolute.txt
#
*.xaml
*/*.xaml
*/**/*.xaml
#
*.xml
*/*.xml
*/**/*.xml
#
*.resx
*/*.resx
*/**/*.resx
#
*.resources
*/*.resources
*/**/*.resources
#
*.autosave
*/*.autosave
*/**/*.autosave
#
*.manifest
*/*.manifest
*/**/*.manifest
#
*.tlog
*/*.tlog
*/**/*.tlog
#
*.baml
*/*.baml
*/**/*.baml

